# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries used by Data Scientist
* Examples of arithmetic expression in Python

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|-------------------|
|Jupyter|
|Apache Zeppelin|
|R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
(200/60)

3.3333333333333335

## Author
Nicole Perez